@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.white { 
    background-color: rgb(255,255,255); 
} 

.green { 
    background-color: rgb(150,255,150); 
} 

.red { 
    background-color: rgb(255,150,150); 
}

aside {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
  }

  aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  aside ul li {
    margin: 5px 0;
  }

  aside ul ul {
    display: none;
  }

  aside ul .toggle {
    cursor: pointer;
  }

  aside ul .toggle::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url('../assets/images/minus.gif');
  }

  aside ul .toggle.active::before {
    background-image: url('../assets/images/plus.gif');
  }
